.header {
  width: 100%;
  background-color: rgb(37, 37, 38);
  display: flex;
  align-items: center;
  opacity: 0.95;

  ul {
    display: flex;
    list-style: none;

    a {
      text-decoration: none;
    }
  }

  .headerLink {
    margin-right: 20px;
    color: rgb(209, 208, 208);
    transition: color 0.3s ease;
  }

  .headerLink:hover {
    color: rgb(255, 255, 255);
  }

  .headerLink:active {
    color: rgb(150, 150, 150);
  }
}

@media only screen and (max-width: 768px) {
  .header ul li {
    font-size: 16px;
  }
}
