* {
  font-family: "MedievalSharp", cursive, "sans-serif";
}

body {
  background-image: url("https://wallpaperaccess.com/full/6566313.jpg");
  background-position: center;
  background-size: cover;
  background-size: 1100px;
  height: 110vh;
}

.homeTitle {
  color: rgb(10, 13, 46);
  text-align: center;
  margin-top: 80px;
  border: 3px solid rgb(9, 32, 58);
  padding: 12px;
  background-color: rgb(67, 95, 159);
  opacity: 0.9;
}

label {
  margin-right: 5px;
  border-radius: 12px;
}

.search {
  border: 1px solid black;
  border: 1px solid rgb(9, 32, 58);
  font-size: 15px;
  outline: none;
  background-color: rgb(38, 56, 99);
  margin-top: 60px;
  border-radius: 12px;
  opacity: 0.9;
  color: rgb(94, 152, 203);

  &.search::placeholder {
    font-size: 20px;
    text-align: center;
    color: rgb(94, 152, 203);
  }
}

.formHome {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.searchBtn {
  font-size: 17px;
  color: rgb(94, 152, 203);
  margin-top: 60px;
  border: 1px solid rgb(9, 32, 58);
  padding: 11px;
  background-color: rgb(38, 56, 99);
  cursor: pointer;
  border-radius: 12px;
  opacity: 0.9;

  &.searchBtn:hover {
    background-color: rgb(158, 170, 187);
  }
}

.linkList {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 18px;
}

li {
  list-style: none;
}

.divList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 3px solid rgb(9, 32, 58);
  margin-top: 30px;
  background-color: rgba(10, 18, 36, 0.933);
  padding: 40px 0 20px 0;
  border-radius: 12px;
}

ul {
  & .name {
    color: rgb(10, 13, 46);
    padding: 10px;
    border-radius: 50%;
    border: 1px solid rgb(244, 247, 250);
    background-color: rgb(67, 95, 159);

    &.name:hover {
      background-color: rgb(158, 170, 187);
    }
  }
}
