* {
  font-family: "MedievalSharp", cursive, "sans-serif";
}

.homeTitle {
  text-align: center;
  position: relative;
  width: 35em;
  height: 4em;
  font-size: 25px;
  border-radius: 50px;
  border: 3px solid rgb(9, 32, 58);
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.06);
  opacity: 0.9;
}

.homepage {
  height: 90vh;
  background-size: cover;
  background-position: 20% center;
  background-image: url("https://cdn.wallpapersafari.com/83/59/cTdHv0.jpg");
  button {
    height: 4em;
    width: 7em;
    position: absolute;
    top: 46%;
    right: 75%;
    transform: translate(50%, -50%);
    font-size: 20px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: rgba(199, 197, 197, 0.8);
    color: black;
  }

  button:active {
    background-color: rgba(255, 255, 255, 0.6);
    color: rgba(78, 77, 77, 0.8);
  }
}
